<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAn02VVkm2PFtUOahWDyjtwkrnMDns-Mo</string>
	<key>GCM_SENDER_ID</key>
	<string>482804065950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dating3</string>
	<key>PROJECT_ID</key>
	<string>hutouch-uwp-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hutouch-uwp-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482804065950:ios:b6e602b118cf97ee363d8f</string>
	<key>DATABASE_URL</key>
	<string>https://hutouch-uwp-app.firebaseio.com</string>
</dict>
</plist>